/*PROJECT COLORS*/

header, .cbp-af-header.cbp-af-header-shrink {
	background-color: #000000;
}

#bttmHeader .container {
	background-color: #000000;
}

.scroll .fa {
	color: #000000;
	background-color: #FFFFFF;
}

nav {
	border-top-color: %colour_toolbar_border%;
}

nav li ul li {
	background: #1C1C1C;
}

#breadcrumb ul, #breadcrumb ul a {
	color: #999999;
}

#breadcrumb a:hover, #breadcrumb ul a:hover {
	color: #666666
}

.wrapper_2 {
	background-color: #F7F7F7;
	color: #58595B;
}

.wrapper_3 {
	background-color: #FFFFFF;
	color: #58595B;
}

section {
	color: #58595B;
	background-color: #FFFFFF;
}

footer{
	background-color: #FFFFFF;
}

a {
	color: %colour_link%;
}

nav li a {
	color: #FFFFFF
}

nav a.current {
	color: #999999;
}

nav li a:hover {
	color: #666666;
}

nav ul li:hover {
	border-color: %colour_dropdown_border%;
}

nav li ul li a {
    color: #999999;
}

nav li ul li a:hover {
    color: #666666;
}

#navi-wrap {
	color: #999999;
}

#navi ul, #navi li ul li  {	
	background-color: #1B1B1B;
}

#navi-wrap a, #navi-wrap a:visited {
	color: #FFFFFF;
}

#navi-wrap {
	background: #1B1B1B;
}

#socialIcons a {
	color:#FFFFFF;
}

#socialIcons a:hover {
	color:#999999;
}

#bttmHeader h1#title  {
	color: #FFFFFF;
}

#bttmHeader h2#slogan {
	color: #FFFFFF;
}

.cbp-af-header.cbp-af-header-shrink nav li a {
	color: %colour_shrink_links%;
}

footer .container ul, footer .container ul, footer .container a {
	color: #333333;
}

section a:hover,
aside a:hover{
	color: %colour_link_hover%;
}

h1, h2, h3, h4, h5, h6,
span#asideTitle,
.album-title, .movie-page-title,
h1.blog-entry-title, 
h1.blog-entry-title a,
#blog-categories:before,
#blog-archives:before,
ul.blog-tag-cloud:before,
#blog-rss-feeds:before {
	color: #212121;
}

footer #center {
	color: #333333;
}

#content a, aside a, section a {
	color: #999999;
}

nav ul ul li:first-child a:after, nav ul ul li:first-child a:active:after, nav ul ul li:first-child a:link:after, nav ul ul li:first-child a:hover:after, nav ul ul li:first-child a.current:after {
	border-bottom-color: #1C1C1C;
}



  /* Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
  @media only screen and (min-width: 480px) and (max-width: 768px) {

.sf-sub-indicator {
	color: #FFFFFF;
}


  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
  @media only screen and (max-width: 479px) {


.sf-sub-indicator {
	color: #FFFFFF;
}

  }